body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
    
}

.login{
    width: 400px;
    
    margin: 100PX auto;
}

input{
    display: block;
    width: 400px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 20px;

}

button{
    width: 400px;
   


}

img{
    height: 200px;
    width: 200px;
    
}

error{
    background-color: red;
}

footer img{
    height: 40px;
    width: 200px;
}